button, a{
    background-color: transparent; 
    border: none;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: start;
}

button:hover, a:hover {
    color: #AAAAAA;
}
